---
import Chat from "@/components/Chat.tsx";
import Layout from "@/layouts/Main.astro";
---

<Layout>
  <div class="pt-24 pb-12 px-4 min-h-screen">
    <div class="max-w-6xl mx-auto">
      <Chat client:load />
    </div>
  </div>
</Layout>
